<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>bacarid is the best compare to all drinks</h1>
        <a href="{% url 'food:biryani' %}"><h1>get back to bacarid</h1></a>
        <a href="{% url 'food:rasgulla' %}"><h1>get back to bacarid</h1></a>
        <a href="{% url 'drinks:black_white' %}"><h1>get back to bacarid</h1></a>
        
        

    </center>
</body>
</html>