<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>fry piece biryani is the best compare to all biryanis</h1>
        <a href="{% url 'food:rasgulla' %}">get to rasgulla</a>
        <a href="{% url 'drinks:bacarid' %}"><h1>get back to bacarid</h1></a>
        <a href="{% url 'drinks:black_white' %}"><h1>get back to bacarid</h1></a>
        
    </center>
</body>
</html>